
/* ========================================================= */
/* ========================== MOBILE ======================== */
/* ======= L’expérience n'est PAS prévue pour mobile ======= */
/* ========================================================= */

@media (max-width: 500px), (max-height: 500px) {

  .click-zone,
  .clickzonevideo,
  .clickzoneguide,
  .clickzonelogo,
  .clickzoneaffiche,
  .clickzoneloups,
  .clickzonefinal {
      display: none ;
  }

  body {
      background: black !important;
      color: white !important;
      text-align: center;
      padding: 40px;
      font-size: 1.2rem;
  }

  body::before {
      content: "Cette expérience est prévue pour ordinateur 💻";
      display: block;
      margin-top: 30vh;
  }

}
